<header>
    <div class="container">
        <div class="row align-items-center">
            <div class="col">
                <h1><strong>Un lugar donde poder reencontrar a tu mascota perdida</strong></h1>
                <!-- Search form -->
                <form class="form-inline d-flex justify-content-end md-form form-sm active-cyan active-cyan-2 mt-2">
                    <i class="fas fa-search" aria-hidden="true"></i>

                </form>
            </div>
        </div>
    </div>
</header>

<div class="animal-list" id="animal-list">
    <h2>Lista de animalitos perdidos:</h2>
    <div class="container">
        <div class="row justify-content-center">
            <input id="nameFilter" class="form-control form-control-sm ml-3 mt-1 w-25" type="text" placeholder="Buscar"
                aria-label="Search">
            <button class="btn-primary ml-2 mt-1 rounded" onclick="filter()">Filtrar por nombre</button>
            <button class="btn-primary ml-2 mt-1 rounded" onclick="filter2()">Filtrar por zona</button>
            <button class="btn-primary ml-2 mt-1 rounded" onclick="filter3()">Ordenar por mas recientes</button>

        </div>
        <div class="row justify-content-center">

            {{#each animals}}
            <div class="card-deck p-3">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/img/{{this.animalPic}}" height="200em" alt="Card image">
                    <div class="card-body">
                        <h5 class="card-title">{{this.name}}</h5>
                        <p class="card-text">{{this.info}}.</p>
                        <p class="card-text">Zona: {{this.place}}.</p>
                        <p class="card-text">Fecha que se perdio: {{this.date}}.</p>
                        <a href="/animal/{{this.objectId}}" class="btn btn-info">Ver info de {{this.name}}</a>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>

        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    <a class="page-link" href="/home?page={{results.previous.page}}" >Previous</a>
                </li>
                <li class="page-item"><a class="page-link" href="/home?page=1">1</a></li>
                <li class="page-item"><a class="page-link" href="/home?page=2">2</a></li>
                <li class="page-item"><a class="page-link" href="/home?page=3">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="/home?page={{results.next.page}}">Next</a>
                </li>
            </ul>
        </nav>

    </div>

    <div class="container">
        <div class="row">
            <div class="col">
                <div class="Agregar">
                    <a href="/addAnimal">
                        <button class="btn btn-lg btn-warning mb-3 mt-3">Agregar animalito</button>
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>

<script src="/js/filters.js"></script>